<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include ./partials/_header %>
  <h1 id="short"> Your new short URL:</h1>
    <a class="shortLink" href="<%=longUrls[shortURL]%>"> <%=shortURL%> </a>
  <h4> What your old link looked like: </h4>
    <a class="shortLink" href="<%=longUrls[shortURL]%>"> <%=longUrls[shortURL]%></a>
  <form method="POST" action="/<%=shortURL%>/update">
    <label id="update">Update your URL here: </label>
    <input id="text" type="text" placeholder="http://" name="updateLongURL">
    <input class="buttons" type="submit" value="Update">
  </form>


</body>
</html>